//= require normalize
//= require foundation.min
//= require jquery-ui-1.9.2.custom.min
//= require general_foundicons
//= require_self

.login-btn {
  margin-top: 1em;
}

.sep {
  margin: 0 auto;
}

.white {
  color: white;
}

.full-width {
  width: 100%;
}

.new-meetup-btn-group {
  margin-top: 1em;
}

.tags {
  margin: 0 auto;
}

.bottomless {
  margin-bottom: 0;
}
