//= require normalize
//= require foundation.min
//= require_self

.login-btn {
  margin-top: 1em;
}

.sep {
  margin: 0 auto;
}

.white {
  color: white;
}

.full-width {
  width: 100%;
}

.meetups th {
  cursor: pointer;
}

.meetups th.date {
  width: 10%;
}
