%header.row
  .small-12.columns
    .row
      .small-10.columns
        %h2 Bievenido a meetup-ar
      .small-2.columns
        %a.button.secondary.radius.login-btn{ href: "#" } Ingresar
    %hr.sep
