%header.row
  .small-12.columns
    .row
      .small-10.columns
        %h2 Bievenido a meetup-ar
      .small-2.columns
        = link_to "Ingresar", "/nueva.html", class: "button secondary radius login-btn"
    %hr.sep
