%header.row
  .small-12.columns
    .row
      .small-10.columns
        %h2
          Bievenido a
          = link_to "meetup-ar", "/index.html"
      .small-2.columns
        - if request.path == "index.html"
          = link_to "Ingresar", "/nueva.html", class: "button secondary radius login-btn"
        - else
          = link_to "Atrás", "javascript:void(0)", class: "back button secondary radius login-btn"
    %hr.sep
