---
title: "meetupar :: RUBYCONF ARGENTINA"
---

.row
  .small-12.columns
    %h1.text-center RUBYCONF ARGENTINA

.row
  .small-9.small-centered.columns.panel
    %h3.text-center
      Organizador:
      = link_to "RubyConfAR", "/organizador.html"

.row.panel
  .small-10.small-centered.columns
    .row
      .small-3.columns
        %dl
          %dt
            %i.foundicon-calendar
            Fecha
          %dd 27 y 28 de Noviembre
      .small-6.columns
        %dl.bottomless
          %dt
            %i.foundicon-globe
            Lugar
          %dd.bottomless
            %ul.vcard.full-width.bottomless
              %li.fn= link_to "Ciudad Cultural Konex‎", "http://ciudadculturalkonex.org‎"
              %li.street-address Sarmiento 3125
              %li.locality
                Buenos Aires,
                %span.zip C1196AAG
              %li
                %span.state Argentina
              %li.email +54 11 4864-3200
      .small-3.columns
        %dl
          %dt
            = link_to "#" do
              %i.foundicon-edit
              Inscripción
          %dd &nbsp;

.row
  .small-9.small-centered.columns.panel
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in orci faucibus, euismod ligula nec, egestas nisl. Pellentesque faucibus facilisis nunc. Fusce vel aliquet odio. Nam id aliquam purus. Suspendisse vel est in orci blandit egestas. Donec id adipiscing nisi. Mauris et risus suscipit, aliquam risus cursus, viverra nisi. Morbi hendrerit, erat a convallis pharetra, tellus dolor ullamcorper ligula, ut cursus leo felis ut lorem. Mauris sodales lorem in ornare dapibus. Vivamus eu luctus lectus. Donec lobortis arcu velit, id tincidunt mi dapibus quis. Integer nulla purus, iaculis eget dapibus id, tempor sit amet erat.
    %p Maecenas vitae gravida augue. Vestibulum sollicitudin felis et urna tincidunt fermentum. Fusce luctus dictum quam, elementum gravida ante interdum et. Aenean elementum blandit risus, sit amet aliquam diam varius sed. Nunc et mattis justo. Cras congue magna urna, a rutrum erat lacinia a. Vestibulum faucibus, tortor eget vulputate imperdiet, orci felis interdum velit, eget convallis lacus eros eget ligula.
